body {
    margin: 0;
    padding: 20px;
    background-color: #fff;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 10px;
}

.top-row {
    display: flex;
    gap: 10px; 
}

.box, .bottom-box {
    border: 2px solid black;
    background-color: black; 
    min-height: 100px; 
}

.box {
    flex: 1; 
}

.bottom-box {
    width: 100%; 
    min-height: 100px;
}